body {
    margin: 0;
    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 100px;
}

.upper-container {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-weight: 500;
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.geolocation-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    background: #FFAE5D;

    border-radius: 20px;
    border: none;
    padding: 16px;

    font-weight: 500;
    font-size: 16px;

}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;

    border: #808080 solid 1px;
    border-radius: 20px;
    padding: 16px;

}

.input-container input {
    border: none;
    outline: none;


    font-weight: 500;
    font-size: 16px;
    width: 622px;
}

hr {
    margin: 0;
}

nav {
    font-weight: 500;
    font-size: 16px;
    margin: 0px 100px;

}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

nav a {
    color: #606060;
    text-decoration: none;
}

main {
    margin: 60px 100px;
}

.text-black {
    color: #000000;
    font-weight: 300;
}

.text-orange {
    color: #FFAE5D;
    font-weight: 600;
}

.text-star {
    color: #000000;
    font-weight: 700;
}

.main-text {
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    width: 548px;
    height: 400px;
    flex-shrink: 0;

}

.top-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.items-header {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-bottom: 2px dashed #FFAE5D;
}

.item-img {
    width: 235px;
    height: 235px;
}

.items-inside-container {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 317px;
    padding: 10px;
}

.item-name {
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-price {
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: none;
    order: 2;
    flex-grow: 0;
    width: 100%;
}

.price {
    color: #000000;
}

.discount {
    color: #FF3232;
}

.items-container {
    display: flex;
    flex-direction: column;
}

@keyframes myImgAnimation {

    0% {
        opacity: 0;
    }

    12.12% {
        opacity: 1;
    }

    35.35% {
        opacity: 1;
    }

    45.45% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

.imgContainer {
    position: relative;
    height: 530px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.imgContainer img {
    position: absolute;
    border-radius: 20px;
    max-width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    animation-name: myImgAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.imgContainer img:nth-child(1) {
    animation-delay: 0s;
}

.imgContainer img:nth-child(2) {
    animation-delay: 2400ms;
}

.imgContainer img:nth-child(3) {
    animation-delay: 4800ms;
}

.special-offer-container {
    background-image: url('assets/specialOffer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.specialOffer {
    position: absolute;
    left: 878px;
    top: 138px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #A29781;
}

.checkItOut {
    position: absolute;
    top: 327px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.imgFurniture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 138px;
}

.c-rate {
    width: 290px;
    display: flex;
    margin: 0 0;
    flex-direction: row-reverse;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.c-icon {
    fill: white;
}

.c-icon:hover~.c-icon,
.c-icon:hover {
    fill: #FFAE5D;
}

.rate-text {
    display: none;
}

.c-icon:hover+.rate-text {
    display: block;
}

.c-icon:hover~.rate-text0 {
    display: none;
}

.rate-text,
.rate-text0 {
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFAE5D;
}

.item-purchase {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    border: 1.5px solid rgba(129, 129, 129, 0.5);
    border-radius: 20px;
    width: 630px;
    height: 365px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    align-items: center;
}

.items-purchase {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.item-purchase>img {
    width: 340px;
    height: 340px;
}

.purchase-info {
    display: flex;
    flex-direction: column;
}


.purchase-item-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.purchase-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}

.purchase-item-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
}

.c-icon {
    margin-right: 10px;
}

footer {
    background-color: #404040;
    padding: 76px 100px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 255px;
    color: #FFFFFF;
}

.select-language-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120.23px;
}

select {
    border: none;
    outline: none;
    background-color: #404040;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    appearance: none;
}

select:not([multiple]) {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 7px;
    background-image: url("assets/Vector-select.svg");
  }
  
.item-img-search{
    width: 200px;
    height: 200px;
}